* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}
h1,h2 {
  font-family: 'Cabin Condensed', sans-serif;
  margin: 0;
}
h3,h4 {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
}
img {
  width: 100%;
}
a {
  color: inherit;
}
.container {
  max-width: 1255px;
  margin: auto;
}
.header-top {
  padding-bottom: 20px;
  margin-bottom: 118px;
}
.header-top-rectangles {
  display: flex;
  justify-content: center;
}
.header-top .rectangle {
  width: 14px;
  height: 17px;
  background-color: red;
  margin: 0 7px;
}
.header-top-menu {
  display: flex;
  justify-content: space-between;
}
.header-top-menu .left button {
  background-color: transparent;
  width: 42px;
  height: 40px;
  cursor: pointer;
  border: none;
}
.header-top-menu button img {
  width: 24px;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.basket {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  align-items: center;
  width: 82px;
  height: 36px;
  border-radius: 18px;
  color: white;
  padding: 6px 10px;
}

.form-address .title {
  font-size: 64px;
  margin-bottom: 27px;
}
.address {
  display: flex;
  margin-bottom: 60px;
}
.address-subtitle {
  font-size: 32px;
  margin-right: 13px;
}
.address-street {
  margin-right: 42px;
}
.address-street, .address-house {
  display: flex;
  align-items: flex-end;
}
.address input {
  width: 230px;
  background: #F7F6F5;
  border-radius: 4px;
  color: #9D9D9D;
  font-size: 16px;
  padding: 10px 16px;
  border: none;
}
.switch label {
  display: flex;
  background: #F7F6F5;
  border: 1px solid #EFEFEF;
  border-radius: 8px;
}
.switch .deactivate {
  cursor: pointer;
  padding: 12px 17px;
  width: 146px;
  text-align: center;
  color: #9D9D9D;
}
.switch .active {
  text-align: center;
  width: 146px;
  border-radius: 4px;
  background-color: red;
  color: white;
  padding: 12px 17px;
}
.toggle {
  display: none;
}
.toggle[checked] label {
  background-color: red;
}
.main .nav {
  padding: 16px 0;
}
.main .navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: #9D9D9D;
}
.category-box .title{
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  padding: 40px 0 20px 0;
}
.category-box .odd {
  background-color: #F7F6F5;
}
.products {
  display: flex;
  justify-content: flex-start;
}
.productCard {
  width: 288px;
  height: 360px;
  padding: 16px 40px;
  text-align: center;
  border-radius: 8px;
  transition: 300ms;
  margin: 0 18px 40px 18px;
}
.productCard .img {
  padding: 0 20px;
}
.productCard .name {
  color: #9D9D9D;
  font-size: 24px;
  margin: 25px 22px;
}
.productCard .price {
  font-size: 32px;
  color: #E4002B;
}

.category-box .odd .productCard:hover {
  background-color: #fff;
}
.category-box .edd .productCard:hover {
  background-color: #F7F6F5;
}
