* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
}
h1,
h2 {
  font-family: "Cabin Condensed", sans-serif;
  margin: 0;
}
h3,
h4 {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
}
img {
  width: 100%;
}
a {
  color: inherit;
}
.container {
  max-width: 1255px;
  margin: auto;
  position: relative;
}
.header-top {
  padding-bottom: 20px;
  margin-bottom: 118px;
  background-color: #fff;
  position: sticky;
  top: 0;
}
.header-top-rectangles {
  display: flex;
  justify-content: center;
}
.header-top .rectangle {
  width: 14px;
  height: 17px;
  background-color: red;
  margin: 0 7px;
}
.header-top-menu {
  display: flex;
  justify-content: space-between;
}
.header-top-menu .left button {
  background-color: transparent;
  width: 42px;
  height: 40px;
  cursor: pointer;
  border: none;
}
.header-top-menu button img {
  width: 24px;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.basket {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  align-items: center;
  min-width: 82px;
  height: 36px;
  border-radius: 18px;
  color: white;
  padding: 6px 10px;
}

.form-address .title {
  font-size: 64px;
  margin-bottom: 27px;
}
.address {
  display: flex;
  margin-bottom: 60px;
}
.address-subtitle {
  font-size: 32px;
  margin-right: 13px;
}
.address-street {
  margin-right: 42px;
}
.address-street,
.address-house {
  display: flex;
  align-items: flex-end;
}
.address input {
  width: 230px;
  background: #f7f6f5;
  border-radius: 4px;
  color: #9d9d9d;
  font-size: 16px;
  padding: 10px 16px;
  border: none;
}
.switch label {
  display: flex;
  background: #f7f6f5;
  border: 1px solid #efefef;
  border-radius: 8px;
}
.switch .deactivate {
  cursor: pointer;
  padding: 12px 17px;
  width: 146px;
  text-align: center;
  color: #9d9d9d;
}
.switch .active {
  text-align: center;
  width: 146px;
  border-radius: 4px;
  background-color: red;
  color: white;
  padding: 12px 17px;
}
.toggle {
  display: none;
}
.toggle[checked] label {
  background-color: red;
}
.main .nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
}
.main .navbar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: #9d9d9d;
}
.main .navbar li a{
  display: inline-block;
  cursor: pointer;
  padding: 16px 0;
  border-bottom: 2px solid transparent;
}
.main .navbar .active {
  color: #e4002b;
  border-bottom: 2px solid #e4002b;
}
.category-box .title {
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  padding: 40px 0 20px 0;
}
.category-box .odd {
  background-color: #f7f6f5;
}
.products {
  display: flex;
  justify-content: flex-start;
}
.productCard {
  width: 288px;
  height: 360px;
  padding: 16px 40px;
  text-align: center;
  border-radius: 8px;
  transition: 300ms;
  margin: 0 18px 40px 18px;
}
.productCard .img img {
  transition: 300ms;
}
.productCard .img {
  padding: 0 20px;
  position: relative;
}
.productCard .name {
  color: #9d9d9d;
  font-size: 24px;
  margin: 25px 22px;
}
.productCard .price {
  font-size: 32px;
  color: #e4002b;
}

.productCard:hover .img img {
  transform: scale(1.2);
  z-index: 0;
}

.category-box .odd .productCard:hover {
  background-color: #fff;
}
.category-box .edd .productCard:hover {
  background-color: #f7f6f5;
}

.productCard .badge {
  z-index: 1;
  width: 48px;
  height: 48px;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  position: absolute;
  top: 10px;
}
.productCard .hit {
  background-color: #000;
}
.productCard .new {
  background-color: #e4002b;
}
.productCard .button {
  border-radius: 50%;
  padding: 12px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  position: absolute;
  bottom: 5px;
  right: 25px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productCard button img {
  width: 12px;
  height: 12px;
}

.footer-top {
  display: flex;
  justify-content: center;
  margin-bottom: 82px;
}
.footer .rectangle {
  width: 32px;
  height: 74px;
  background-color: red;
  margin: 0 16px;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 136px;
}

.footer-main .list-menu ul {
  list-style: none;
  padding: 0;
}
.footer-main .list-menu ul li {
  margin-bottom: 16px;
}
.circle {
  width: 227px;
  height: 227px;
  background-color: #c4c4c4;
  border-radius: 50%;
}
.socials-group {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  position: relative;
}
.socials {
  display: flex;
  justify-content: center;
}
.socials-item {
  width: 24px;
  height: 24px;
  margin: 0 16px;
}
.stores {
  position: absolute;
  display: flex;
  right: 0;
}
.stores-item img {
  height: 100%;
}
.stores-item {
  height: 32px;
  margin-left: 16px;
}
.counter {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  color: white;
  width: 104px;
  position: absolute;
  bottom: 5px;
  right: 25px;
  font-size: 18px;
  border-radius: 50px;
}
.counter .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
  color: white;
}
.counter .sum {
  display: flex;
  align-items: center;
  justify-content: center;
}
